{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="pink-stripe">
        <h1 class"bienvenue">
           Bienvenue dans mon monde
        </h1>
    </div>
    <div class="white-stripe">
        <img src=""
             alt="">
    </div>
{% endblock %}
