{% extends 'base.html.twig' %}

{% block title %}New Artwork{% endblock %}

{% block body %}
    <h1>Crée un nouvelle oeuvre</h1>

    {{ include('artwork/_form.html.twig') }}

    <a href="{{ path('app_artwork_index') }}">back to list</a>
{% endblock %}
