//start coding by removing this file and adding yours ;)
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
:root{
  --background: rgb(238, 232, 232);
  --font-family: 'Kaushan Script', cursive;
}


*{
  background-color: var(--background);
}

body{
  background-color: var(--background);
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar{
  background-color: var(--background);
  padding: 0;
}

.logo{
  padding: 1rem;
  width:5rem;
  height:5rem;
  background-color: var(--background);
}
h1{
  text-align: center;
  font-family:var(--font-family);
}

a{
  font-family:var(--font-family) ;
}

.carousel-inner{
  height: 500px;
}

.carousel-inner img {
    object-fit: fill;

}

.carousel-control-prev-icon, .carousel-control-next-icon{
background-color: transparent;
}

.navbar-nav .nav-link.active {
    color: rgb(132, 79, 205); /* couleur du menu au click */
}

.blur-effect {
    color: transparent;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}